.HowItWork {
  background-color: var(--blue-block-background);
  margin: 50px 0px;
  padding: 40px 0px;
  text-align: left;
  margin-bottom: 0px;
}

.HowItWork .head-content .heading-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.HowItWork .head-content .heading-container h3 {
  font-size: 40px;
  line-height: 68px;
  font-weight: 700;
  font-family: "Scandla-Bold";
  background: -webkit-linear-gradient(to right, white 0%, #9595b2 100%);
  background: linear-gradient(to right, white 0%, #9595b2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.HowItWork .head-content p {
  color: #fff;
  font-family: "Inter Tight";
  font-weight: 400px;
  font-size: 24px;
  line-height: 29.04px;
  margin-bottom: 40px;
  font-weight: 700;
}

.HowItWork .card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.HowItWork .card_container .card_outer {
  background-color: var(--black-primary) !important;
  padding: 0px;
  position: relative;
}

.HowItWork .card_container .card_inner {
  background-color: var(--black-primary);
  border-radius: 20px;
}

.HowItWork .card_inner {
  padding: 25px;
  background-color: #0a162f !important;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  position: relative;
  color: white;
  border-radius: 20px;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0% 100%);
}

.HowItWork .button-container {
  text-align: end;
  margin: 30px 0px;
}
.HowItWork .card_inner .title {
  font-size: 24px;
  line-height: 29.04px;
  color: var(--white-primary);
  font-family: "Inter Tight";
  font-weight: 500;
}
.HowItWork .card_inner .description {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--white-primary);
  font-family: "Inter Tight";
  font-weight: 400;
  color: #fff !important;
}

.HowItWork .card_container .card_outer .arrow-icon-container {
  position: absolute;
  right: -43px;
  top: 50%;
  transform: translateY(-50%);
}
.HowItWork
  .card_container
  .global-block-wrapper_top:last-of-type
  .arrow-icon-container {
  display: none !important;
}

.HowItWork .button-container .book-demo-button {
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
  color: var(--black-primary);
  border-radius: 100px;
  padding: 8px 24px;
}

@media (max-width: 575.98px) {
  .HowItWork .head-content .heading-container h3 {
    font-size: 32px;
    line-height: 68px;
  }

  .HowItWork .head-content p {
    font-size: 16px;
    line-height: 19.36px;
    width: 90%;
  }
  .HowItWork .card_container {
    flex-wrap: wrap;
    gap: 45px;
  }
  .HowItWork .card_container .card_outer .arrow-icon-container {
    right: auto;
    left: 50%;
    bottom: -37px;
    top: auto;
    transform: translateX(-50%) rotate(90deg);
  }

  .HowItWork .card_inner .title {
    font-size: 24px;
    line-height: 24.2px;
  }
  .HowItWork .card_inner .description {
    font-size: 18px;
    line-height: 23.4px;
  }
}


