/* Global Variables  */
:root {
  --blue-primary: #0a162f;
  --blue-secondary: #051224;
  --blue-text: #9595b2;
  --blue-block-background: #0c0919;
  --green-primary: #c9e265;
  --while-primary: #fff;
  --black-primary: #000;
}

body {
  background-color: var(--blue-primary);
  color: #fff;
}

@font-face {
  font-family: "Scandla-Bold";
  src: url("./assets/fonts/Scandia-Bold.woff2") format("woff2"),
    url("./assets/fonts/Scandia-Bold.woff2") format("woff");
}

.global-container {
  max-width: 1283px;
  padding: 20px 20px;
}

.global-block {
  background-color: var(--blue-block-background);
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      #3d5075,
      #3d5075 70%,
      #0a162f 70%,
      #0a162f
    )
    1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
